.shadow-box {
  box-shadow: 3px 3px 10px #888888;;
}

.round-border {
  border-radius:10px;
  background:#cccccc;
}

.jumbotron {
  background-color:transparent !important;
}

.space-between{
  margin: 10px;
}

.review-card {
  width: 250px;
}

.reviews-thumb{
  margin-top: 100px;
}

.no-border {
  border:none !important;
}
